/*.l2{
	background-color: red;
}*/

/*.Am
{
	color: red;
}*/
/*.mama {
  height: 16px;
  width: 16px;
  user-drag: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
}
.lala
{
	display: inherit;
}
.yW
{
	padding-left: 10px;
} */